{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div role="main" class="container" style="margin-top:25px;;">
      <div class="card " style="width: 18rem;">
        <img src="{% static 'staticTemplates/gamer.png' %}" class="card-img-top center" alt="...">
        <div class="card-body">
          <p class="card-text text-justify">
              عرفان هستم عاشق دنیای تکنولوژی و کامپیوتر تجربیات کمو بیشی هم از برنامه نویسی و برخی مسائل کامپیوتری دارم که باعث افتخارمه با شما در میون بزارم اگه کارامونو دوس داشتین و خواستین ساپورت کنین میتونین از صفحه ی ساپورت مارو در این کار تشویق کنید .          </p>
        </div>
      </div>
    </div>
    <br><br><br><br><br>
{% endblock %}
