{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div role="main" class="container" style="margin-top:50px;">
      <h5 style="text-align: center;">
        برای
        <a href="https://payping.ir/@erfanagdam" style="text-decoration : none;">حمایت</a>
        کلیک کنید
      </h5>
        <a href="https://payping.ir/@erfanagdam"  target="_blank" ><img class="img-fluid mx-auto d-block" width="400px" height="400px" src="{% static 'staticTemplates/pay.png' %}" alt="Gmail"></a>
    </div>
{% endblock %}
